.navbar{
    width: 95%;
    height: 60px;
    position: fixed;
    top: -60px;
    transition: .2s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        height: calc(100% - 20px);
        border-radius: 10px;
        width: fit-content;
        padding: 10px;
        background-color: #0d141c;
        z-index: 100;
        transition: .2s ease;
        &:hover{
            transform: translate(10px);
        }
        img{
            height: calc(100%);
        }
    }
    
    .hamburger{
        height: 60px;
        width: 60px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background-color: #172230;
        .bar{
            width: 30px;
            height: 1px;
            background-color: var(--text-color);
            transition: .2s ease-in-out;
            backdrop-filter: invert(100%);
            &:first-of-type{
                transform: translateY(-12px);
            }
            &:last-of-type{
                transform: translateY(12px);
            }
        }
        &.croix{
            .bar{
                &:first-of-type{
                    transform: translateY(0) rotate(-45deg);
                }
                &:last-of-type{
                    transform: translateY(0) rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
            }
        }
    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-radius: 0px 0px 0px 50% / 0px 0px 0px 50%;     
        transition: .8s;
        background-color: rgba(13, 20, 28,0.8);
        backdrop-filter: blur(10px);
        overflow: hidden;
        transform-origin: top right;
        transform: translateX(2.5vw) translateY(-50px);
        display: flex;
        justify-content: center;
        align-items: center;
        &.menuIsOpen{
            width: 100vw;
            height: 100vh;
            transition:1.6s;
            border-radius: 0;
        }
        .menuContent{
            width: 400px;
            max-width: 80vw;
            height: fit-content;
            
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .navbarLink{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 40px;
                overflow: hidden;
                transition: .3s ease-in-out;
                .linkName{
                    margin-bottom: 20px;
                    font-size: 20px;
                    font-family: var(--regular);
                    transition: .2s ease-in-out;
                    &:hover{
                        opacity: .7;
                        transform: scale(1.05);
                    }
                }
                .innerLink{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 15px;
                    width: fit-content;
                    text-decoration: none;
                    transition: .2s ease-in-out;
                    span{
                        font-size: 15px;
                        font-family: var(--light);
                        color: var(--text-color);
                        
                    }
                    &:not(:last-of-type){
                        margin-bottom: 10px;
                    }
                    &:hover{
                        transform: translateX(10px);
                    }
                    img{
                        height: 80%;
                        margin-left: 8px;
                    }
                }
            }
            
            
            
        }
    }
}

.navbarOn{
    transform: translateY(100px);
    
    
}

